<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="98">
    <p-card-header fxLayout="row" class="p-title" fxLayoutAlign="space-between center">
      <div fxLayout="column"> {{ 'display_all_detectors' | translate }}</div>
      <div fxLayout="column" class="cssanipion moveFromTop" fxLayoutAlign="center center">
        {{ textUpdateTime }}
        <i class="ita-icon" [nameIcon]="statusUpdateData"></i>
      </div>
    </p-card-header>
    <p-card>
      <p-card-content>
        <div fxLayout="row" fxFlex="100" fxLayoutGap="30px" fxLayoutAlign="start center">
          <button p-raised-button type="button" class="btn info" (click)="getDataApi()">
            {{"data_update" | translate}}
          </button>
          <p-tag [ngClass]="statusColor" class="status-sensor" [value]="statusText"></p-tag>
        </div>
      </p-card-content>
      <p-card-content>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div fxLayout="column" class="mt-3 max-width-33" fxFlex="100" [fxFlex.lg]="'1 1 calc(50% - 20px)'" [fxFlex.md]="'calc(50% - 20px)'" [fxFlex.xs]="'calc(100% - 20px)'" [fxFlex.sm]="'calc(100%)'" *ngFor="let item of arrItemCharts">
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" class="d-flex-right">
                <a [routerLink]="['/chart/' + item]" target="popup" (click)="popup(item)">
                  <button p-raised-button type="button" class="btn iframe info"><i class="fas fa-info"></i></button>
                </a>
              </div>
              <app-chart-home [chartName]="item" [tabUnique]="tabUnique"></app-chart-home>
            </div>
          </div>
        </div>
      </p-card-content>
      <div *ngIf="loader" class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </p-card>
  </div>
</div>